<header class="clearfix">
	<a href="index.php" class="headerImageLink">
		<img class="headerLogo" src="images/logo_small.gif" alt="logo" />
	</a>
	<img id="headerRandomImage" alt="rightImage" src="images/fighter1.png"/>

	<h1 class="headerTitle">Chum Kune Do Martial Arts Academy</h1>
</header>
<nav>
	<ul class="clearfix mainmenulist">
		<li class="mainmenulistitem">
			<a class="mainmenuitem" alt="Chume Kune Do, European martial arts in Rainham" href="index.html">Home</a>
		</li>
		<li class="mainmenulistitem">
			<a class="mainmenuitem" alt="Our classses for adults and kids" href="classes.html">Classes</a>
		</li>
		<li class="mainmenulistitem">
			<a class="mainmenuitem" alt="Profile of the founder of Chum Kune Do, Shizu Clifford Hyde-Gomes" href="profile-shizu.html">Profiles</a>
		</li>
		<li class="mainmenulistitem">
			<a class="mainmenuitem" alt="Image gallery" href="gallery-january-2007.html">Galleries</a>
		</li>
		<li class="mainmenulistitem">
			<a class="mainmenuitem" alt="Testimonials of (former) students" href="testimonials.html">Testimonials</a>
		</li>
		<li class="mainmenulistitem">
			<a class="mainmenuitem" alt="Contact information for Shizu Clifford" href="contactus.html">Contact Us</a>
		</li>
	</ul>
</nav>
