<ul class="sidebarmenulist">
	<li>
		<h4 class="sidebarHeader">Shizu</h4>
	</li>
	<li>
		<a href="profile-shizu.html" alt="Profile of Shizu Clifford Hyde-Gomes, founder" class="sidebarLink">Clifford, 9th degree Master Chief Instructor of Chum Kune Do</a>
	</li>
	<li>
		<h4 class="sidebarHeader">Unique achievements</h4>
	</li>
	<li>
		<a href="profile-lucy-claire.html" alt="The profile of Lucy Claire, CKD student" class="sidebarLink">Lucy-Claire</a>
	</li>
	<li>
		<a href="profile-natalie-morrow.html" alt="The profile of Natalie Morrow, CKD student" class="sidebarLink">Natalie Morrow</a>
	</li>
</ul>
